@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;700&display=swap');


.form-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: auto;
    top: 34px;
    background: #00669F;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 49.0901px;
    font-family: 'Inter', sans-serif;  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.add-super-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}

.add-btn{
    width: 366px;
    height: 87px;
    background: #1CD1B0;
    border-radius: 23.011px;
    font-family: 'Inter', sans-serif;  
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    border: none;
    margin-top: 30px;
}

.add-btn:hover{
    background-color: #001D2D;
    color: #FFFFFF;
    transition: .7s;
}

.info-form{
    text-align: center;
    margin-top: 20px;
}

.info-form spam{
    font-family: 'Inter', sans-serif;  
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
}

.info-form > p{
    font-family: 'Inter', sans-serif;  
    font-weight: 300;
    font-size: 20px;
    line-height: 14px;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}

.inputs-container > div{
    display: flex;
}

.inputs-container > div > .input-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.input-box label{
    font-family: 'Inter', sans-serif;  
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom:.8rem;
}

.input-box > input, .input-box textarea{
    outline: none;
}

select {
    color: grey;
    width: 100%;
    border: none;
}

select option {
    color: #185170;
}
  
  /* Selector para el elemento de opción seleccionado */
select option:checked {
    color: #16384b;
    background-color: #c7cbcc;
}  

select option:disabled {
    color: #b0b2b3;
}  

select:focus {
    outline: none;
} 

.custom-input, .custom-text-area {
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-family: 'Inter', sans-serif;  
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 0 10px;
    width: 100%;
}

input::file-selector-button {
    background: #CECECE;
    border-radius: 5px;
    height: 32px;
    border: none;
    min-width: 200px;
    text-align: start;
    padding-left: 9px;
    margin-top: 5%;
    color: #000000;
    font-family: 'Inter', sans-serif;  
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

input[type=file] {
    color: black;
    font-family: 'Inter', sans-serif;  
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

input::file-selector-button:hover{
    cursor: pointer;
    opacity: 80%;
}

.custom-input{
    height: 63px;
}

.custom-text-area{
    padding-top: 20px;
    resize: none;
}

.custom-text-area:hover,
.custom-input:hover{
    border: 2px solid #00fffd;
    box-shadow: 0 0 21px #00fffd;
    transition: 1s all;
}

.custom-text-area:focus,
.custom-input:focus{
    animation: box-glow 1s ease-out infinite alternate;
    border-color: #00fffc;
}

.custom-date{
    font-size: 13px; 
    /* Width
18px
Height
20px */
}

/*
==============================================
======== CHECKBOX & RADIO BUTTONS ============
==============================================
*/

.checkinput-container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }

  /* escondemos el default checkbox */
.checkinput-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* creamos un custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 24px;
    height: 20px;
    border: 1px solid #C4C4C4;
    background-color: #fff;
  }

  /* Al pasar el mouse encima, lo ponemos gris */
.checkinput-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* creamos el marcador (escondido al no seleccionar) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* mostramos el marcador al seleccionar */
.checkinput-container input:checked ~ .checkmark:after {
    display: block;
  }

/* estilo del marcador */
.checkinput-container .checkmark:after {
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

  /* los checkboxes */
#c1 input:checked~.checkmark {
    background-color: rgb(243, 136, 35);
}

#c2 input:checked~.checkmark {
    background-color: red;
}

#c3 input:checked~.checkmark {
    background-color: green;
}

#c4 input:checked~.checkmark {
    background-color: rgb(0, 255, 221);
}


.custom-radio-buttoms{
    width: 20px;
    height: 20px;
    left: 735.54px;
    border: 1px solid #C4C4C4;
}

.custom-radio-buttoms{
    margin-right: 20px;
}
.custom-radio-buttoms:checked{
    margin-left: 1.5%;
    transition: .7s;
}
/*
===================================================
================= MEDIA QUERIES ===================
===================================================
*/

@keyframes box-glow {
    0% {
      border-color: #00b8b6;
      box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 rgb(58, 86, 87); }
  
    100% {
      border-color: #00fffc;
      box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 rgb(74, 121, 118); 
    } 
}

@media only screen and (max-width: 1200px){
    .inputs-container > div{
        flex-direction: column!important;
    }

    .inputs-container > div > .input-box{
        width: 100%;
    }
}

@media only screen and (max-width: 800px){
	.form-container{
        width: 80%;
    }
    .add-btn{
        width: 90%;
    }
}
@media only screen and (max-width: 600px){
    .form-container{
        width: 90%;
    }
}
/*
@media only screen and (max-width: 425px){
} */