@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("./form.css");

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

h1 {
    color: #F0A83E;
}

header {
    display: flex;
    align-items: center;
    background-color: #1CD1B0;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.58px;
    height: 38px;
}

header span {
    margin: 10px 0 0 27px;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 20px;
  height: 101px;
  left: calc(50% - 1024px/2);
  background: #00669F;
  -webkit-box-shadow: 0px 8px 28px -3px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 8px 28px -3px rgba(0,0,0,0.58);
  box-shadow: 0px 8px 28px -3px rgba(0,0,0,0.58);
}

.sticky-header, .sticky-header a{
  display: flex;
  align-items: center;
}

.sticky-header p {
  color: #FFFFFF;
  margin-left: 28px;
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
}


a.linkToForm{
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 73px;
  color: #FFFFFF;
  border-radius: 50%; 
  width: 82px;
  height: 82px;
  background-color: #00669F;
  position: fixed;
  top:50%;
  right: 10px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.linkToForm:hover{
  background-color: #001D2D;
  box-shadow: 0 0 19px #364141;
  transition: .5s;
}

/*+++++++++MAIN++++++++++++++*/
.backround1{
  background-image: url("../img/portada-batman.png");
}

.backround2{
  background-image: url("../img/portada-mujer-maravilla.png");
}

.backround3{
  background-image: url("../img/portada-super-man.png");
}

.backround4{
  background-image: url("../img/portada-harley.png");
}

.backround1, .backround2, .backround3, .backround4 {
  background-size: cover;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 100px;
  height: auto;
}

.cards-container{
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  gap: 20px;
}

.card {
  width: 300px;
  height: 590px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 30px;
}

.card img {
  width: 135px;
  position: absolute;
  border-radius: 50%;
  margin-top: 112px;
  margin-left: 27.2%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  z-index: 9;
}

.card i {
  position: absolute;
  font-size: 25px;
  margin: 9px 0 0 9px;
  color: #db0a0a;
}

.about-hero {
  width: 100%;
  height: 396px;
  top: 193px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.about-hero > h3 {
  margin-top: 70px;
}

.about-hero > p {
  margin-top: 98px;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  width: 100%;
  padding: 5%;
}

.about-hero button {
  position: absolute;
  width: 128.78px;
  height: 48.52px;
  bottom: 30px;
  background: #00669F;
}

.backround {
  position: absolute;
  width: 100%;
  height: 193px;
  background-color: #423c97;
  border-radius: 16px 16px 0px 0px;
}

/*+++++++++++FOOTER++++++++++*/

footer {
  position: absolute;
  width: 100%;
  height: 51px;
  background: #00669F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFF9F9;
  margin-left: 27px;
}

